*{
  font-family: "Garamond";
}
.image{
  display: inline-block;
}
.icon{
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 250px;
}
.div-icon{
  display: inline-block;
  margin-right: 15px;
  height: 35px;
}
